textview {
    padding: 8px;
    font-size: 12px;
}

#logo-text {
    font-weight: bold;
}

button,
frame,
tooltip {
    border-radius: 0;
}

#toolbar {
    border-bottom: 1px solid #ccc;
}

#image-box {
    padding: 6px;
    box-shadow: inset 0 0 4px #999;
    background-color: rgba(0, 0, 0, 0.1);
}

#histogram-box {
    /* 
    Setting an inner shadow works because the Histogram 
    widget has a semi-transparent background 
    */
    box-shadow: inset 0 0 4px #999;
}